.G-flex-between{
  display: flex;
  justify-content: space-between;
}
.G-flex-center{
  display: flex;
  justify-content: center;
}
.G-flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.G-flex-column{
  display: flex;
  flex-direction: column;
}
.G-alignItems-center{
  align-items: center;
}
.G-Text-center{
  text-align: center;
}

.G-transition10{
  transition: 1s ease-in-out all;
}
.G-transition05{
  transition: 0.5s ease-in-out all;
}
.G-transition03{
  transition: 0.3s ease-in-out all;
}

.G-container{
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

.G-paddingRL-100{
  padding: 0 100px;
}

.G-Link-Hover{
  &:hover{
      color: #0038FF !important;
    span{
      color: #0038FF !important;
    }
  }
}

.G-fzNormal{
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  font-family: 'Inter-Regular', sans-serif;
}

.G-Block-Header{
  font-size: 80px;
  color: black;
  font-family: 'Inter-Medium', sans-serif;
  line-height: 97px;
}

.G-skill-inBlock{
  padding: 8px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid black;
  display: block;
  font-size: 20px;
  font-family: 'Inter-Regular', sans-serif;
  color: black;
  margin: 4px 0;
}




.imageBlock{
  width:100%;
  height: 100vh;
  position: fixed;
  top: 100px;
  z-index: 1100;
  overflow: hidden;
  transition: 0.2s ease;
}

.G-Link-Button{
  padding: 8px 16px;
  background-color: black;
  border-radius: 12px;
  cursor: pointer;

  &:hover{
    background: #0038FF;
    .button-arrow{
      background: #0C2EA7;
    }
  }
  .link-button-text{
    color: white;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 24px;

  }
  .button-arrow{
    margin: 0 8px;
    width: 2px;
    height: 38px;
    background: #383838;
  }
  .arrow-img{
    width: 24px;
  }
  .Black{
    display: none;
  }
}
