.QuestionPayBlock{
  position: relative;
  z-index: 9000;
  padding: 0 100px;

  .header{
    font-size: 80px;
    font-family: 'PlexMono-Medium', sans-serif;
    display: flex;
    transition: 0.3s ease-in-out;
    .space{
      width: 40px;
    }
    .letter{
      transition: 0.2s ease-in-out;
      display: block;
    }
  }

  .Sprints-Hours{
    border-radius: 16px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    margin: 30px 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    transition: 1s ease-in-out;

    .mainCont{
      width: 48%;
      display: flex;
      margin: 2%;

      &:nth-child(2){
        border-left: 1px solid #EAEAEA;
        padding-left: 20px;
      }

      .TextBlock{
        display: flex;
        flex-direction: column;

        .MHeader{
          font-family: 'PlexMono-Medium', sans-serif;
          font-size: 32px;
        }
        .MPrg{
          margin-top: 20px;
          line-height: 24px;
          font-family: 'PlexMono-Regular', sans-serif;

          .markedPrg{
            color: white;
            background-color: #FFA06B;
            border-radius: 3px;
          }
        }
        .Animation{
          width: 450px;
          height: 400px;
          position: relative;
          div{
            position: absolute;
            top: -100px;
            left: -100px;
            transform: scale(0.5);
            height: 600px !important;
            width: 700px !important;
          }
        }
      }
      .buttonBlock{
        width: 400px;
        display: flex;
        align-items: end;
        padding: 20px;
        .G-Link-Button{
          border: 1px solid black;
          background-color: white;
          .letter{
            color: black;
          }
          .arrow-img{
            display: none;
          }
          .arrow-imgB{
            display: block;
          }
        }
      }
    }
  }
}